    <logging>
        <log highLowerBound="70" lowUpperBound="35" target="tests/report/report" type="coverage-html"/>
        <log target="tests/report/clover.xml" type="coverage-clover"/>
        <log target="tests/report/coverage.cov" type="coverage-php"/>
        <log target="tests/report/coverage.txt" type="coverage-text"/>
        <log target="tests/report/logfile.xml" type="junit"/>
        <log target="tests/report/testdox.html" type="testdox-html"/>
        <log target="tests/report/testdox.txt" type="testdox-text"/>
    </logging>
</phpunit>
