### Health

[![Open Issues](http://img.shields.io/github/issues/simplepie/@@REPO@@.svg?style=for-the-badge)](https://github.com/simplepie/@@REPO@@/issues)
[![Pull Requests](https://img.shields.io/github/issues-pr/simplepie/@@REPO@@.svg?style=for-the-badge)](https://github.com/simplepie/@@REPO@@/pulls)
[![Contributors](https://img.shields.io/github/contributors/simplepie/@@REPO@@.svg?style=for-the-badge)](https://github.com/simplepie/@@REPO@@/graphs/contributors)
[![Repo Size](https://img.shields.io/github/repo-size/simplepie/@@REPO@@.svg?style=for-the-badge)](https://github.com/simplepie/@@REPO@@/pulse/monthly)
[![GitHub Commit Activity](https://img.shields.io/github/commit-activity/y/simplepie/@@REPO@@.svg?style=for-the-badge)](https://github.com/simplepie/@@REPO@@/commits/master)
[![GitHub Last Commit](https://img.shields.io/github/last-commit/simplepie/@@REPO@@.svg?style=for-the-badge)](https://github.com/simplepie/@@REPO@@/commits)

### Quality

[![Travis branch](https://img.shields.io/travis/simplepie/@@REPO@@/master.svg?style=for-the-badge&label=Travis%20CI)](https://travis-ci.org/simplepie/@@REPO@@)
[![Coveralls](https://img.shields.io/coveralls/github/simplepie/@@REPO@@/master.svg?style=for-the-badge)](https://coveralls.io/github/simplepie/@@REPO@@)
[![Code Quality](http://img.shields.io/scrutinizer/g/simplepie/@@REPO@@.svg?style=for-the-badge&label=Scrutinizer)](https://scrutinizer-ci.com/g/simplepie/@@REPO@@)
[![Symfony Insight](https://img.shields.io/sensiolabs/i/@@INSIGHT@@.svg?style=for-the-badge&label=Symfony%20Insight)](https://insight.symfony.com/projects/@@INSIGHT@@)

### Social

[![Author](http://img.shields.io/badge/author-@skyzyx-blue.svg?style=for-the-badge)](https://twitter.com/skyzyx)
[![Follow](https://img.shields.io/twitter/follow/simplepie_ng.svg?style=for-the-badge&label=Follow%20@simplepie_ng)](https://twitter.com/intent/follow?screen_name=simplepie_ng)
[![Blog](https://img.shields.io/badge/medium-simplepie--ng-blue.svg?style=for-the-badge)](https://medium.com/simplepie-ng)
[![Stars](https://img.shields.io/github/stars/simplepie/@@REPO@@.svg?style=for-the-badge&label=GitHub%20Stars)](https://github.com/simplepie/@@REPO@@/stargazers)

### Compliance

[![License](https://img.shields.io/github/license/simplepie/@@REPO@@.svg?style=for-the-badge)](https://github.com/simplepie/@@REPO@@/blob/master/LICENSE.md)
