PSR-1/2/5/12/19 are a solid foundation, but are not an entire coding style by themselves. By leveraging tools such as [PHP CS Fixer](http://cs.sensiolabs.org) and [PHP CodeSniffer](https://github.com/squizlabs/PHP_CodeSniffer), we can automate a large part of our style requirements.

These can be applied automatically by running the linter:

```bash
make lint
```

The things that we cannot yet automate are documented here: <https://github.com/simplepie/simplepie-ng-coding-standards>
